<html>
<head>
    <title>GoWiki</title>
    <script src="js/index.js" type="text/javascript"></script>
    <link rel="stylesheet" href="css/index.css">
</head>
<body onload="fillSearchInput();">
    <h1>Welcome to GoWiki v1.2</h1>
    
    <hr />
    
    <div id="searchForm">
        <form action="/">
            <label>Search:</label>
            <input type="search" name="q" id="search" placeholder="Search pages" value="" />
            <input type="submit" value="Go" />
        </form>
    </div>
    
    <hr />

    <div>
        <input type="text" id="title" value="" placeholder="Page title" />
        <button onclick="createPage();">Create new page</button>    
    </div>

    <h2>Available Wiki pages</h2>

    <div>
        <ul>
        {{range $file := .}}
            <li><a href="/view/{{$file}}">{{$file}}</a> (<a href="/delete/{{$file}}">delete</a>)</li>
        {{end}}
        </ul>
    </div>
</body>
</html>